In [ ]:
pip install GitPython

Collecting GitPython
  Downloading GitPython-3.1.32-py3-none-any.whl (188 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.5/188.5 kB 2.3 MB/s eta 0:00:00
Collecting gitdb<5,>=4.0.1 (from GitPython)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 5.4 MB/s eta 0:00:00
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->GitPython)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, GitPython
Successfully installed GitPython-3.1.32 gitdb-4.0.10 smmap-5.0.0

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 9.64 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [ ]:
import csv
import subprocess
import pandas as pd
import requests
import git
import json
import os
from git import Repo
import os
import pandas as pd
import numpy as np

In [ ]:
os.system("git clone https://github.com/phonepe/pulse.git")

32768

# ***#Aggregated transcations ***

1.root_dir = (r'/content/pulse/data'): This line defines the root directory path where the data is located. The r before the string denotes a raw string, which is useful for file paths to prevent the backslashes from being treated as escape character

2.for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/user/country/india/state')):: The code starts a loop to iterate through the items in the state directory of the given root_dir. os.listdir() function returns a list of the names of the entries in the directory path provided. The os.path.join() function is used to concatenate the root directory path with the path to the state directory.

3.state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/user/country/india/state', state_dir): The variable state_path is assigned the complete path to the current state directory. state_dir contains the name of the current state folder.

4.os.path.join=os.path.join() is a function in Python's built-in os.path module. It is used to concatenate different parts of a file path into a single valid path.

5.On Google Colab, '/content/' is the root directory, and you can directly access the specified path as it is

6.The with statement automatically takes care of opening and closing the file. It guarantees that the file will be closed correctly after the block of code inside the with statement finishes execution. This helps avoid resource leaks and ensures proper handling of file-related resources

7.the file is loaded using json.load(f). This reads the JSON data from the file and parses it into a Python data structure. The result is stored in the variable data

An aggregate transaction typically refers to a single transaction that combines multiple individual transactions into one consolidated transaction. This process is commonly used in financial or payment systems to streamline and simplify the processing of multiple smaller transactions, making it more efficient for both the user and the service provider.

In the context of mobile payment platforms like PhonePe, an aggregate transaction could involve combining several smaller payments made by a user into a single transaction.

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                # print(transaction_data)
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df1 = pd.DataFrame(data_list)
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,haryana,2022,3,Merchant payments,151278013,8.706374e+10
1,haryana,2022,3,Peer-to-peer payments,95071203,3.193746e+11
2,haryana,2022,3,Recharge & bill payments,22592966,2.124798e+10
3,haryana,2022,3,Financial Services,111032,1.449372e+08
4,haryana,2022,3,Others,308596,2.232677e+08
...,...,...,...,...,...,...
3589,gujarat,2020,1,Peer-to-peer payments,19068093,7.239373e+10
3590,gujarat,2020,1,Recharge & bill payments,15648472,7.197595e+09
3591,gujarat,2020,1,Merchant payments,12191478,7.210759e+09
3592,gujarat,2020,1,Financial Services,50753,2.746026e+07
3593,gujarat,2020,1,Others,367621,1.655353e+08

In [ ]:
# Save the DataFrame to a CSV file named 'data.csv' in the current working directory
df1.to_csv('Aggregated transcations .csv', index=False)

# **#Aggregated users**

In general, the word "aggregate" refers to the total or combined sum of individual items or elements. When applied to users, it could imply the total number of users or customers considered as a whole, without distinguishing individual user details. This kind of aggregation is often used for statistical or analytical purposes to gain insights into the overall user base without compromising individual privacy.

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list2= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/user/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/user/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list2.append(data)
                            try:
                              for g in data['data']['usersByDevice']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'brand': g['brand'],
                                    'Transaction_Count':g['count'],
                                    'percentage': g['percentage']
                                    }
                                data_list2.append(row_dict)

                            except:
                              pass


df2=pd.DataFrame(data_list2)
df2

,States,Transaction_Year,Quarters,brand,Transaction_Count,percentage
0,haryana,2022,1,Xiaomi,2837979,0.220563
1,haryana,2022,1,Vivo,2767906,0.215117
2,haryana,2022,1,Samsung,2259241,0.175584
3,haryana,2022,1,Oppo,1825605,0.141883
4,haryana,2022,1,Realme,1043668,0.081112
...,...,...,...,...,...,...
6727,gujarat,2020,1,OnePlus,216733,0.021124
6728,gujarat,2020,1,Lenovo,183981,0.017932
6729,gujarat,2020,1,Motorola,152517,0.014865
6730,gujarat,2020,1,Huawei,119412,0.011639
6731,gujarat,2020,1,Others,648269,0.063185

In [ ]:
df2.to_csv('Aggregate users .csv', index=False)

#Map **transcation**

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list3= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list3.append(data)
                            try:
                              for g in data['data']['hoverDataList']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'district':g['name'],
                                    'count':g['metric'][0]['count'],
                                    'amount':g['metric'][0]['amount'],
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                            #         'brand': g['brand'],
                            #         'Transaction_Count':g['count'],
                            #         'percentage': g['percentage']
                                    }
                                data_list3.append(row_dict)

                            except:
                              pass


df3=pd.DataFrame(data_list3)
df3

,States,district,count,amount,Transaction_Year,Quarters
0,haryana,yamunanagar district,3301355,6.133608e+09,2022,3
1,haryana,sonipat district,16738938,2.915214e+10,2022,3
2,haryana,jind district,3980057,9.507340e+09,2022,3
3,haryana,rohtak district,9939686,1.896513e+10,2022,3
4,haryana,faridabad district,31002825,4.616342e+10,2022,3
...,...,...,...,...,...,...
14631,gujarat,navsari district,434441,6.325872e+08,2020,1
14632,gujarat,patan district,594745,8.710030e+08,2020,1
14633,gujarat,kachchh district,1305996,2.617080e+09,2020,1
14634,gujarat,surendranagar district,421057,6.806896e+08,2020,1
14635,gujarat,morbi district,358952,6.691175e+08,2020,1

In [ ]:
df3.to_csv('Map transcations .csv', index=False)

#Map **user**

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list4= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/map/user/hover/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/map/user/hover/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list4.append(data)
                            try:
                              for g in data['data']['hoverData']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'district':g,
                                    'registered_users':data['data']['hoverData'][g]['registeredUsers'],
                                    'app_open':data['data']['hoverData'][g]['appOpens'],
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                   }
                                data_list4.append(row_dict)

                            except:
                              pass


df4=pd.DataFrame(data_list4)
df4

,States,district,registered_users,app_open,Transaction_Year,Quarters
0,haryana,yamunanagar district,380160,6222538,2022,3
1,haryana,sonipat district,697349,10573982,2022,3
2,haryana,jind district,403750,14994759,2022,3
3,haryana,rohtak district,481082,16106442,2022,3
4,haryana,faridabad district,1837594,11212188,2022,3
...,...,...,...,...,...,...
14635,gujarat,navsari district,146018,1993140,2020,1
14636,gujarat,patan district,164027,2890050,2020,1
14637,gujarat,kachchh district,347270,5714637,2020,1
14638,gujarat,surendranagar district,154610,2101503,2020,1
14639,gujarat,morbi district,130472,1792131,2020,1

In [ ]:
df4.to_csv('Map users .csv', index=False)

#Top transaction data district wise

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list5= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list5.append(data)
                            try:
                              for g in data['data']['districts']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'district':g['entityName'],
                                    'count':g['metric']['count'],
                                    'amount':g['metric']['amount'],
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                   }
                                data_list5.append(row_dict)

                            except:
                              pass


df5=pd.DataFrame(data_list5)
df5

       States      district     count        amount Transaction_Year  Quarters
0     haryana      gurugram  87103856  9.936019e+10             2022         3
1     haryana     faridabad  31002825  4.616342e+10             2022         3
2     haryana       sonipat  16738938  2.915214e+10             2022         3
3     haryana         hisar  15314209  3.000539e+10             2022         3
4     haryana       panipat  13837300  2.463392e+10             2022         3
...       ...           ...       ...           ...              ...       ...
5915  gujarat  banas kantha   1429235  2.718891e+09             2020         1
5916  gujarat        valsad   1342508  2.197273e+09             2020         1
5917  gujarat        rajkot   1339770  2.664972e+09             2020         1
5918  gujarat       kachchh   1305996  2.617080e+09             2020         1
5919  gujarat      mahesana   1294012  2.067093e+09             2020         1

[5920 rows x 6 columns]

In [ ]:
df5.to_csv('Top transaction data district wise .csv', index=False)

**#top transaction pincode wise**

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list6= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list5.append(data)
                            try:
                              for g in data['data']['pincodes']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'pincode':g['entityName'],
                                    'count':g['metric']['count'],
                                    'amount':g['metric']['amount'],
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                   }
                                data_list6.append(row_dict)

                            except:
                              pass


df6=pd.DataFrame(data_list6)
df6

       States pincode     count        amount Transaction_Year  Quarters
0     haryana  122006  14938659  2.158272e+10             2022         3
1     haryana  122001  11374422  1.354162e+10             2022         3
2     haryana  132103   9376357  1.626125e+10             2022         3
3     haryana  131001   9041722  1.556651e+10             2022         3
4     haryana  122002   8007122  8.028493e+09             2022         3
...       ...     ...       ...           ...              ...       ...
7134  gujarat  382350    458474  8.050956e+08             2020         1
7135  gujarat  380015    446819  6.133415e+08             2020         1
7136  gujarat  390001    443684  1.063446e+09             2020         1
7137  gujarat  396191    437499  8.065740e+08             2020         1
7138  gujarat  382481    401588  6.349641e+08             2020         1

[7139 rows x 6 columns]

In [ ]:
df6.to_csv('Top transaction data pincode wise .csv', index=False)

NameError: ignored

**#top user data district wise**

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list7= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/user/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/user/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list5.append(data)
                            try:
                              for g in data['data']['districts']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'Registered_users':g['registeredUsers'],
                                    'district':g['name'],

                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                   }
                                data_list7.append(row_dict)

                            except:
                              pass


df7=pd.DataFrame(data_list7)
df7

       States  Registered_users      district Transaction_Year  Quarters
0     haryana           3251792      gurugram             2022         3
1     haryana           1837594     faridabad             2022         3
2     haryana            766206         hisar             2022         3
3     haryana            697349       sonipat             2022         3
4     haryana            663418        rewari             2022         3
...       ...               ...           ...              ...       ...
5915  gujarat            386212  banas kantha             2020         1
5916  gujarat            384819       bharuch             2020         1
5917  gujarat            349897      mahesana             2020         1
5918  gujarat            347270       kachchh             2020         1
5919  gujarat            330053        valsad             2020         1

[5920 rows x 5 columns]

In [ ]:
df7.to_csv('top user data district wise .csv', index=False)

**#top user data pincode wise**

In [ ]:
import os
import json
import pandas as pd

root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list8= []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/user/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/user/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)
                            # data_list5.append(data)
                            try:
                              for g in data['data']['pincodes']:
                                # print(g)
                                row_dict = {
                                    'States': state_dir,
                                    'pincode':g['name'],
                                    'Registered_users':g['registeredUsers'],
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                   }
                                data_list8.append(row_dict)

                            except:
                              pass


df8=pd.DataFrame(data_list8)
df8

       States pincode  Registered_users Transaction_Year  Quarters
0     haryana  122001            516313             2022         3
1     haryana  121004            445822             2022         3
2     haryana  121003            357581             2022         3
3     haryana  121001            341866             2022         3
4     haryana  122006            282229             2022         3
...       ...     ...               ...              ...       ...
7135  gujarat  382350            106647             2020         1
7136  gujarat  396191             90365             2020         1
7137  gujarat  382415             86315             2020         1
7138  gujarat  382481             84353             2020         1
7139  gujarat  382345             82048             2020         1

[7140 rows x 5 columns]

In [ ]:
df8.to_csv('top user data pincode wise .csv', index=False)

**To find NULL values**

In [ ]:
null_counts = df1.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [ ]:
null_counts = df2.isnull().sum()
print(null_counts)

States               0
Transaction_Year     0
Quarters             0
brand                0
Transaction_Count    0
percentage           0
dtype: int64

In [ ]:
null_counts = df3.isnull().sum()
print(null_counts)

States              0
district            0
count               0
amount              0
Transaction_Year    0
Quarters            0
dtype: int64

In [ ]:
null_counts = df4.isnull().sum()
print(null_counts)

States              0
district            0
registered_users    0
app_open            0
Transaction_Year    0
Quarters            0
dtype: int64

In [ ]:
null_counts = df5.isnull().sum()
print(null_counts)

States              0
district            0
count               0
amount              0
Transaction_Year    0
Quarters            0
dtype: int64

In [ ]:
null_counts = df6.isnull().sum()
print(null_counts)

NameError: ignored

In [ ]:
null_counts = df7.isnull().sum()
print(null_counts)

States              0
pincode             0
users               0
name                0
Transaction_Year    0
Quarters            0
dtype: int64

In [ ]:
null_counts = df8.isnull().sum()
print(null_counts)

States              0
pincode             0
users               0
name                0
Transaction_Year    0
Quarters            0
dtype: int64

In [ ]:
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,uttar-pradesh,2018,2,Recharge & bill payments,9232131,2.044535e+09
1,uttar-pradesh,2018,2,Peer-to-peer payments,6484369,2.219744e+10
2,uttar-pradesh,2018,2,Merchant payments,909545,7.999205e+08
3,uttar-pradesh,2018,2,Financial Services,563213,1.055369e+08
4,uttar-pradesh,2018,2,Others,521685,5.727688e+08
...,...,...,...,...,...,...
3589,sikkim,2022,3,Peer-to-peer payments,1222037,4.173704e+09
3590,sikkim,2022,3,Merchant payments,772650,8.303614e+08
3591,sikkim,2022,3,Recharge & bill payments,397207,1.535679e+08
3592,sikkim,2022,3,Financial Services,1538,2.851320e+06
3593,sikkim,2022,3,Others,3326,2.396303e+06

In [ ]:
df2

,States,Transaction_Year,Quarters,brand,Transaction_Count,percentage
0,uttar-pradesh,2018,2,Xiaomi,1635001,0.253781
1,uttar-pradesh,2018,2,Samsung,1274460,0.197819
2,uttar-pradesh,2018,2,Vivo,805993,0.125105
3,uttar-pradesh,2018,2,Oppo,646104,0.100287
4,uttar-pradesh,2018,2,Realme,361159,0.056058
...,...,...,...,...,...,...
6727,sikkim,2022,1,OnePlus,3294,0.015714
6728,sikkim,2022,1,Tecno,3147,0.015013
6729,sikkim,2022,1,HMD Global,2316,0.011049
6730,sikkim,2022,1,Motorola,2125,0.010138
6731,sikkim,2022,1,Others,13140,0.062686

In [ ]:
df3

,States,district,count,amount,Transaction_Year,Quarters
0,uttar-pradesh,amethi district,136709,1.694021e+08,2018,2
1,uttar-pradesh,siddharthnagar district,130007,2.888642e+08,2018,2
2,uttar-pradesh,auraiya district,92623,1.279919e+08,2018,2
3,uttar-pradesh,sambhal district,79715,1.096111e+08,2018,2
4,uttar-pradesh,kanpur nagar district,675908,9.543047e+08,2018,2
...,...,...,...,...,...,...
14631,sikkim,north district,123838,3.918016e+08,2022,1
14632,sikkim,south district,406488,7.604094e+08,2022,3
14633,sikkim,west district,204845,5.035437e+08,2022,3
14634,sikkim,east district,1604446,3.375013e+09,2022,3
14635,sikkim,north district,180979,5.239149e+08,2022,3

In [ ]:
df4

,States,district,registered_users,app_open,Transaction_Year,Quarters
0,uttar-pradesh,amethi district,40163,0,2018,2
1,uttar-pradesh,siddharthnagar district,35144,0,2018,2
2,uttar-pradesh,auraiya district,30766,0,2018,2
3,uttar-pradesh,sambhal district,30654,0,2018,2
4,uttar-pradesh,kanpur nagar district,285101,0,2018,2
...,...,...,...,...,...,...
14635,sikkim,north district,17781,3230129,2022,1
14636,sikkim,south district,48673,4041078,2022,3
14637,sikkim,west district,30513,4964725,2022,3
14638,sikkim,east district,133152,5164204,2022,3
14639,sikkim,north district,19687,4578529,2022,3

In [ ]:
df5

,States,district,count,amount,Transaction_Year,Quarters
0,uttar-pradesh,gautam buddha nagar,1942298,3.398984e+09,2018,2
1,uttar-pradesh,lucknow,1289613,2.162778e+09,2018,2
2,uttar-pradesh,ghaziabad,1034409,1.868838e+09,2018,2
3,uttar-pradesh,varanasi,836072,9.566264e+08,2018,2
4,uttar-pradesh,prayagraj,804712,1.129003e+09,2018,2
...,...,...,...,...,...,...
5915,sikkim,north,123838,3.918016e+08,2022,1
5916,sikkim,east,1604446,3.375013e+09,2022,3
5917,sikkim,south,406488,7.604094e+08,2022,3
5918,sikkim,west,204845,5.035437e+08,2022,3
5919,sikkim,north,180979,5.239149e+08,2022,3

In [ ]:
df6

             States   users                 name Transaction_Year  Quarters
0     uttar-pradesh  586350  gautam buddha nagar             2018         2
1     uttar-pradesh  506261              lucknow             2018         2
2     uttar-pradesh  434115            ghaziabad             2018         2
3     uttar-pradesh  297113            prayagraj             2018         2
4     uttar-pradesh  288325             varanasi             2018         2
...             ...     ...                  ...              ...       ...
5915         sikkim   17781                north             2022         1
5916         sikkim  133152                 east             2022         3
5917         sikkim   48673                south             2022         3
5918         sikkim   30513                 west             2022         3
5919         sikkim   19687                north             2022         3

[5920 rows x 5 columns]

In [ ]:
df7

             States   users                 name Transaction_Year  Quarters
0     uttar-pradesh  586350  gautam buddha nagar             2018         2
1     uttar-pradesh  506261              lucknow             2018         2
2     uttar-pradesh  434115            ghaziabad             2018         2
3     uttar-pradesh  297113            prayagraj             2018         2
4     uttar-pradesh  288325             varanasi             2018         2
...             ...     ...                  ...              ...       ...
5915         sikkim   17781                north             2022         1
5916         sikkim  133152                 east             2022         3
5917         sikkim   48673                south             2022         3
5918         sikkim   30513                 west             2022         3
5919         sikkim   19687                north             2022         3

[5920 rows x 5 columns]

In [ ]:
df8

             States pincode   users    name Transaction_Year  Quarters
0     uttar-pradesh  201301  151073  201301             2018         2
1     uttar-pradesh  201307   72411  201307             2018         2
2     uttar-pradesh  201009   71991  201009             2018         2
3     uttar-pradesh  211002   68114  211002             2018         2
4     uttar-pradesh  201318   63900  201318             2018         2
...             ...     ...     ...     ...              ...       ...
7135         sikkim  737135   17399  737135             2022         3
7136         sikkim  737113   13634  737113             2022         3
7137         sikkim  737121   11780  737121             2022         3
7138         sikkim  737120   10901  737120             2022         3
7139         sikkim  737103    9349  737103             2022         3

[7140 rows x 6 columns]

In [ ]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 23.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=d2ab29fc32186e35086bd94a4209fff380c795108cf703a2d1bdabcbb43e7913
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [ ]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.0.tar.gz (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 1.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.0-cp310-cp310-linux_x86_64.whl size=123668 sha256=5c4699814292a5a4bb703dd166bc3d919d8682da4992da37cd8287b2908ed89a
  Stored in directory: /root/.cache/pip/wheels/a4/f8/fd/0399687c0abd03c10c975ed56c692fcd3d0fb80440b5a661f1
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.0

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 30.7 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 35.8 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [ ]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 940.9 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0

In [ ]:
pip install mysql-connector-python pandas

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.1.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.6/40.6 kB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.1-cp310-cp310-linux_x86_64.whl size=151102 sha256=97647166a4009b14e10f2ed3ad269cf1e6618507ac5908e5b8da34bfbde2e61e
  Stored in directory: /root/.cache/pip/wheels/ed/1d/da/4bb79a0c7885888c6be9e31dad7ebd3b47b023be60469fd74d
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.1

In [ ]:
import pymysql

mydb = pymysql.connect(host="localhost",user="root",password="Rakul1999")

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists phonepe")
mycursor.execute("SHOW DATABASES")
mycursor.execute("USE phonepe")

OperationalError: ignored

In [ ]:
def create_tables():

    import MySQLdb as mysql
    import pandas as pd
    import pymysql
    from sqlalchemy import create_engine



    mydb = mysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="Rakul@9360721393",
        database='phonepe',
        autocommit=True)

    mycursor=mydb.cursor()
    mycursor.execute("CREATE DATABASE if not exists phonepe")
    mycursor.execute("SHOW DATABASES")
    mycursor.execute("USE phonepe")

    #created table for aggregate transcation
    Agg_trans='''CREATE TABLE if not exists Agg_trans
                (States VARCHAR(255),
                Transaction_Year int,
                Quarters int,
                Transaction_Type TEXT,
                Transaction_Count int,
                Transaction_Amount TEXT);'''

    mycursor.execute(Agg_trans)


    #created table for aggregate users
    Agg_user=("CREATE TABLE if not exists agg_users ("
                 "States VARCHAR(255),"
                 "Transaction_Year int,"
                 "Quarters int,"
                 "brand VARCHAR(255),"
                 "Transaction_Count int",
                 "percentage int"
                 ")")
    mycursor.execute(Agg_user)

    #created table for Map transcation
    Map_trans = ("CREATE TABLE IF NOT EXISTS Map_trans ("
               "States VARCHAR(255),"
               "district VARCHAR(255),"
               "count INT,"
               "amount VARCHAR(255),"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute(Map_trans)

    #created table for Map_users
    Map_users = ("CREATE TABLE IF NOT EXISTS Map_users ("
               "States VARCHAR(255),"
               "district VARCHAR(255),"
               "registered_users	INT,"
               "app_open INT,"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute( Map_users)

    #created table for Top transaction data district wise
    Top_trans_ds = ("CREATE TABLE IF NOT EXISTS Top_trans_ds ("
               "States VARCHAR(255),"
               "district VARCHAR(255),"
               "count	 INT,"
               "amount VARCHAR(255),"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute( Map_users)

    #created table for Top transaction data pincode wise
    Top_trans_pn = ("CREATE TABLE IF NOT EXISTS Top_trans_pn ("
               "States VARCHAR(255),"
               "users INT,"
               "name VARCHAR(255),"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute(Top_trans_pn)


    #created table for Top transaction data users district wise
    Top_users_ds = ("CREATE TABLE IF NOT EXISTS Top_users_ds ("
               "States VARCHAR(255),"
               "users INT,"
               "name VARCHAR(255),"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute(Top_users_ds)

    #created table for top users data pincode wise
    Top_users_pn = ("CREATE TABLE IF NOT EXISTS Top_users_pn ("
               "States VARCHAR(255),"
               "pincode INT",
               "users INT,"
               "name VARCHAR(255),"
               "Transaction_Year INT,"
               "Quarters INT,"
               ")")
    mycursor.execute(Top_users_pn)

In [ ]:
create_tables()

OperationalError: ignored

In [ ]:
import sqlite3

def create_tables():
    # Connect to the SQLite database (if it doesn't exist, it will be created)
    mydb = sqlite3.connect('phonepe.db')

    # Create a cursor object to execute SQL queries
    mycursor = mydb.cursor()

    # Create the table for aggregate transactions
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Agg_trans
                       (States TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER,
                        Transaction_Type TEXT,
                        Transaction_Count INTEGER,
                        Transaction_Amount TEXT)''')

    # Create the table for aggregate users
    mycursor.execute('''CREATE TABLE IF NOT EXISTS agg_users (
                        States TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER,
                        brand TEXT,
                        Transaction_Count INTEGER,
                        percentage INTEGER)''')

    # Create the table for Map transaction
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Map_trans (
                        States TEXT,
                        district TEXT,
                        count INTEGER,
                        amount TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Create the table for Map users
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Map_users (
                        States TEXT,
                        district TEXT,
                        registered_users INTEGER,
                        app_open INTEGER,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Create the table for Top transaction data district wise
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Top_trans_ds (
                        States TEXT,
                        district TEXT,
                        count INTEGER,
                        amount TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Create the table for Top transaction data pincode wise
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Top_trans_pn (
                        States TEXT,
                        users INTEGER,
                        name TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Create the table for Top transaction data users district wise
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Top_users_ds (
                        States TEXT,
                        users INTEGER,
                        name TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Create the table for top users data pincode wise
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Top_users_pn (
                        States TEXT,
                        pincode INTEGER,
                        users INTEGER,
                        name TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER)''')

    # Commit the changes and close the connection
    mydb.commit()
    mydb.close()

# Call the function to create the tables
create_tables()

In [ ]:

import sqlite3

def create_tables():
    # Connect to the SQLite database (if it doesn't exist, it will be created)
    mydb = sqlite3.connect('phonepe.db')

    # Create a cursor object to execute SQL queries
    mycursor = mydb.cursor()

    # Create the table for aggregate transactions
    mycursor.execute('''CREATE TABLE IF NOT EXISTS Agg_trans
                       (States TEXT,
                        Transaction_Year INTEGER,
                        Quarters INTEGER,
                        Transaction_Type TEXT,
                        Transaction_Count INTEGER,
                        Transaction_Amount TEXT)''')

    # Commit the changes and close the connection
    mydb.commit()
    mydb.close()

# Call the function to create the tables
create_tables()

In [ ]:
create_tables()